# ============================
# Build
# ============================
bin/
obj/

# ============================
# Visual Studio
# ============================
.vs/

# ============================
# IDEs
# ============================
.idea/
.vscode/

# ============================
# Logs
# ============================
logs/
Logs/
*.log

# ============================
# ASP.NET Core
# ============================
appsettings.Development.json
appsettings.Local.json

# ============================
# EF Core / DB
# ============================
*.db
*.db-shm
*.db-wal

# ============================
# Publish
# ============================
publish/

# ============================
# OS
# ============================
.DS_Store
Thumbs.db
